/*---Tablet/Ipad---*/
@include respond (tablet){
    .advertisements_container{
        height: 65px !important;
        .misteryad_container{
            padding-top: 3% !important;
        }
    }
}
/*---Laptop-Low---*/
@include respond (laptopLow){
    .advertisements_container{
        height: 65px !important;
        .misteryad_container{
            padding-top: 2% !important;
            .misteryad_container_count{            
                width: 10% !important;
                margin: 1%;
            }
        }
    }
}
/*---Laptop---*/
@include respond (laptop){
    .advertisements_container{
        height: 65px !important;
        .misteryad_container{
            padding-top: 2% !important;
            .misteryad_container_count{            
                width: 10% !important;
                margin: 1%;
            }
        }
    }
}
/*---Escritorio---*/
@include respond (desktop){
    .advertisements_container{
        height: 68px !important;
        .misteryad_container{
            padding-top: 2% !important;
            .misteryad_container_count{            
                width: 7% !important;
                margin: 1%;
            }
        }
    }
}
.advertisements_container{
    background-color: $blue;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 99;
    right: 0;
    box-shadow: 2px 2px 5px $blue;
    .misteryad_container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 1%;
        .misteryad_container_title{
            h1{
                color: $white;
                font-size: 20px;
            }
        }
        .misteryad_container_count{            
            width: 18%;
            margin: 1%;
            h2{
                color: $white;
                font-size: 15px;
            }
            .misteryad_container_count--box{
                background-color: $white;
                border-radius: 10px;
                width: 70%;
                margin: auto;
                padding: 5%;
                font-size: 20px;
                color: $blue;
            }
        }
    }
}