/*-----Media Query-----*/
/*---Escritorio---*/
@include respond (desktop){
    /*-----Images Background-----*/
    .home{
        .home-slider{
            li{
                -webkit-transition: opacity .5s ease-in;
                -ms-transition: opacity .5s ease-in;
                transition: opacity .5s ease-in;
            }
            img{
                object-position: right !important;
            }
        }
    }
    /*-----Menu Logo-----*/
    .home-menu{
        width: 100%;
        height: 90vh;
        display: flex;
        position: absolute;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        .row{
            width: 100%;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            .home-logo{
                text-align: right;
                display: block !important;
                img{
                    height: 200px;
                }
            }
        } 
    }
    /*-----Menu-----*/
    .home-nav{
        width: 100% !important;
        ul{
            margin-top: 0 !important;
            li{
                color: $grey !important;
                font-size: 2.5rem;
                -webkit-transition: all .5s ease;
                -ms-transition: all .5s ease;
                transition: all .5s ease;      
                &::after{
                    background-color: $grey !important;
                }   
                &:hover{
                    color: $white;
                    font-size: 45px;
                }
            } 
        }
        
    }
}
/*---Laptop---*/
@include respond (laptop){
    /*-----Images Background-----*/
    .home{
        .home-slider{
            li{
                -webkit-transition: opacity .5s ease-in;
                -ms-transition: opacity .5s ease-in;
                transition: opacity .5s ease-in;
            }
        }
    }
    /*-----Menu Logo-----*/
    .home-menu{
        width: 100%;
        height: 90vh;
        display: flex;
        position: absolute;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        .row{
            width: 100%;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            .home-logo{
                text-align: right;
                display: block !important;
                img{
                    height: 175px;
                }
            }
        } 
    }
    /*-----Menu-----*/
    .home-nav{
        width: 100% !important;
        ul{
            margin-top: 0 !important;
            li{
                color: $grey !important;
                font-size: 2.25rem !important;
                -webkit-transition: all .5s ease;
                -ms-transition: all .5s ease;
                transition: all .5s ease;    
                &::after{
                    background-color: $grey !important;
                }    
                &:hover{
                    color: $white;
                    font-size: 45px;
                }
            } 
        }
        
    }
}
/*---Laptop-Low---*/
@include respond (laptopLow){
    /*-----Images Background-----*/
    .home{
        .home-slider{
            li{
                -webkit-transition: opacity .5s ease-in;
                -ms-transition: opacity .5s ease-in;
                transition: opacity .5s ease-in;
            }
        }
    }
    /*-----Menu Logo-----*/
    .home-menu{
        width: 100%;
        height: 90vh;
        display: flex;
        position: absolute;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        .row{
            width: 100%;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            .home-logo{
                text-align: right;
                display: block !important;
                img{
                    height: 150px;
                }
            }
        } 
    }
    /*-----Menu-----*/
    .home-nav{
        width: 100% !important;
        ul{
            margin-top: 0 !important;
            li{
                color: $grey !important;
                font-size: 2.25rem !important;
                -webkit-transition: all .5s ease;
                -ms-transition: all .5s ease;
                transition: all .5s ease;    
                &::after{
                    background-color: $grey !important;
                }    
                &:hover{
                    color: $white;
                    font-size: 45px;
                }
            } 
        }
        
    }
}
/*---Tablet/Ipad---*/
@include respond (tablet){
    /*-----Menu-----*/
    .home-nav{
        ul{
            margin-top: 75% !important;
        }
         
    }
}
/*-----Images Background-----*/
.home{
    ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
    }
    .home-slider{
        position: relative;
        li{
            position: absolute;
            opacity: 0;
            &::before{
                background: $opacity-bg;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                content: "";
                top: 0;
                left: 0; 
            }
        }
        img{
            margin: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 75%;
            z-index: 0;
        }
    }
}
/*-----Menu Logo-----*/
.home-menu{
    .home-logo{
        display: none;
    }
}
/*-----Menu-----*/
.home-nav{
    ul{
        list-style-type: none;
        margin-top: 100%;
        li{
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.75rem;   
            &::after{
                content: "";
                display: block;
                background-color: $white;
                height: 3px;
                width: 10%;
                margin: 10px 0;
            }  
        }
    }
     
}