.slider{
    width: 100%;
    overflow: hidden;
    ul{
        display: flex;
        padding: 0;
        width: 200%;
        animation: change 8s infinite alternate linear;
        margin: 0;
    }
    li{
        width: 100%;
        img{
            width: 100%;
        }
    }  
}